.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 10vw;
  color:#1a1d22;
  background: #fefeff;
}

input {
  height: 3vh;
  width: 20vw;
  margin-right: 2vw;
  border: 1px solid black;
  border-radius: 100px;
  padding: 1vh;
  box-sizing: border-box;
}

button {
  height: 3.5vh;
  width: 8vw;
  background: rgb(103, 170, 167);
  color: white;
  border-radius: 100px;
  border: 1px solid black;
}

.title {
  margin-bottom: 8vh;
  color: rgb(38, 140, 135);
}